.header {
  background: linear-gradient(180deg, #3B0943 -14.66%, #201D27 100%);
  mix-blend-mode: normal;
  
  height: 100vh;

  &__inner {
    display: flex;
    padding: 25px;
    align-items: center;
    position: relative;
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(10, 6, 18, 0.4) 0%, rgba(11, 7, 18, 0.4) 6.36%, rgba(24, 14, 23, 0.4) 101.81%);

    padding: 10px 20px;
    border-radius: 20px;
  }

  &__menu-list {
    display: flex;
    align-items: center;

    margin: 0;

  }

  &__menu-item:not(:last-child) {
    margin-right: 16px;
  }

  &__menu-link {
    @extend %roboto-400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #F4F4F4;
  }
  
  &__btn-bottom {
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    animation: btndrag infinite 2s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    
  }
}

@keyframes btndrag {
  0% {
    transform: translateX(-50%) translateY(-10px);
  }

  50% {
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.header-content {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    max-width: 520px
  }

  &__title {
    @extend %roboto-700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #E7E4E4;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    padding-top: 120px;
  }

  &__description {
    @extend %roboto-400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: #F4F4F4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
  }
  &__btn-link{
    margin-bottom: 40px;
  }

}

@media(max-width:786px){
  .menu__btn{
    display: block;
  }
  .header__nav{
    top: 22px;
    transform: translateX(400px);
    z-index: 1;
    padding: 15px 0;
    border: 1px solid #201D27;
    transition: all 1s;
   
    right: 0;
  }
  .header__nav.header__nav--active{
    transform: translateX(0px);
    left: 0;  
  }
  .header__menu-list{
    display: block;
    
  }
  .header__menu-item{
    padding:10px 100px;
    text-align: center;
  }
  .header__menu-item:active{
    background: linear-gradient(90deg, rgba(77, 73, 88, 0.4) 0%, rgba(138, 128, 156, 0.4) 6.36%, rgba(24, 14, 23, 0.4) 101.81%);
    
    border-radius: 20px;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
    
  }
  .header__menu-link{
    width: 100%;
    
  }

  .header-content{
    display: block;
  }
  .header-content__wrapper{
    margin: 0 auto;
    max-width: 90%;
  }
  .header-content__title {
    text-align: center;
    display: block;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 10px;
    padding-top: 100px;
  }
  .header-content__description {
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }
  .header-content__btn-link{
    margin: 0 auto;
  }
  .header-content__image-wrapper{
    display: none;
  }
  .header__btn-bottom{
    bottom: -30%;
  }
}
