.menu__btn {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 23;
    background: linear-gradient(180deg, rgba(104, 71, 107, 0.19) 0%, rgba(150, 102, 136, 0.19) 100%);
    border: 1px solid rgba(106, 88, 107, 0.2);
    
    /* Note: backdrop-filter has minimal browser support */
    

    padding: 5px;
    border-radius: 9px;

    &-line {
        z-index: 24;
        background: linear-gradient(180deg, rgba(36, 16, 32, 0.42) -26.25%, rgba(36, 16, 32, 0) 117.5%);
        border: 1px solid #4b4048;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(21.5px);
        display: block;
        border-radius: 20px;
        height: 6px;
        position: relative;
        overflow: hidden;
        &::after{
            content: '';
            position: absolute;
            display: block;
            height: 6px;
            width: 50px;
            right: 0;
            background: linear-gradient(112.66deg, #770a88 -28.46%, #2a0530 87.49%);
            transform: translateX(100px);
            transition: all 0.4s;
        }

    }

    &-line:not(:last-child) {
        margin-bottom: 10px;
    }

}

.menu__btn-line:nth-child(1){
    transition: all 0.8s;
}
.menu__btn-line:nth-child(2){
    transition: all 0.8s;
}
.menu__btn-line:nth-child(3){
    opacity: 0;
    transition: all 0.8s;
}
.menu__btn-line:nth-child(4){
    transform: translateY(-16px);
    transition: all 0.8s;
}




.menu__btn:hover >.menu__btn-line:nth-child(1){
    &::after{
        transform: translateX(0);
        transition: all 0.3s;
    }
}
.menu__btn:hover >.menu__btn-line:nth-child(2){
    &::after{
        transform: translateX(0);
        transition: all 0.4s;
    }
}
.menu__btn:hover >.menu__btn-line:nth-child(3){
    &::after{
        transform: translateX(0);
        transition: all 0.5s;
    }
}
.menu__btn:hover >.menu__btn-line:nth-child(4){
    &::after{
        transform: translateX(0);
        transition: all 0.5s;
    }
}
.menu__btn.menu__btn--active{
    background: transparent;
}.menu__btn.menu__btn--active >.menu__btn-line{
    border: none;
}
.menu__btn.menu__btn--active >.menu__btn-line:nth-child(1){
    transition: all 0.8s;
    transform: translateY(16px);
    opacity: 0;
    
}
.menu__btn.menu__btn--active >.menu__btn-line:nth-child(2){
    opacity: 1;
    transform: rotate(45deg);
    transition: all 0.8s;
    &::after{
        transform: translateX(0);
    }
}
.menu__btn.menu__btn--active >.menu__btn-line:nth-child(3){
    opacity: 1;
    transition: all 0.8s;
    transform: translateY(-16px) rotate(-45deg);
    &::after{
        transform: translateX(0);
    }
}
.menu__btn.menu__btn--active >.menu__btn-line:nth-child(4){
    transition: all 0.8s;
    transform: translateY(-16px);
    opacity: 0;
}

.menu__btn:active{
    animation: menuShiver linear 1s;
}

@keyframes menuShiver{
    0%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}