<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="HTML5 webpack boilerplate" />
  <title>DEREK</title>
  <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
  <script>
    if (!window.HTMLPictureElement) {
      document.createElement('picture');
    }
  </script>
</head>
<div class="loader-wrapper">
  <div class="loader">
  </div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<body class="body">
  
  <!--header.html-->
  <%= _.template(require('../includes/common/header.html').default)({version:
    htmlWebpackPlugin.options.custom.version,}) %>
    <main>
      <canvas class="bdCanvas" id="bdCanvas"></canvas>
      <%= _.template(require('../includes/index/skills.html').default)({}) %>
      <%= _.template(require('../includes/index/portfolio.html').default)({}) %>
    
    </main>
    <!--footer.html-->
    <%= _.template(require('../includes/common/footer.html').default)({}) %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.net.min.js"></script>

</body>

</html>